html,
body,
.card {
  padding: 0;
  margin: 0;
}

.body {
  overflow: auto;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-notice {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #7e7f7a;
}

.bigger {
  font-size: 32px;
}

.sentence div {
  margin: 16px;
}

.definition {
  text-align: start;
  padding: 16px 48px 0 64px;
}

.definition ul {
  list-style: square;
  margin: 8px 0 0 0;
}

.definition ul:last-child {
  margin-bottom: 8px;
}

.definition li {
  margin-bottom: 4px;
}

.definition .etimology {
  font-size: 18px;
  margin-top: 8px;
}

.definition {
  font-size: 16px;
}
